@charset "UTF-8";

/* body {
    background-image: url(background/b031.gif);
    background-repeat: repeat-x repeat-y;
} */
 
/* body {
    background-image: url(background/sor0080.jpg);
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position: center;
    background
}  */

body:before{
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    margin:0;
    z-index:-1;
    width:100%;
    height:100vh;
    background-image: linear-gradient(0deg,  rgba(18, 204, 179, 0.411), rgba(20, 90, 78, 0.342)),
        url(https://drive.google.com/uc?export=view&id=1vLospyE25baWhwJxKZEtDT3DwFxj2nC3);
    background-size:cover;
     /*背景画像の位置*/
    background-position:center center;
}


html{
    font-size: 100%;
}

.page-header{
    display: flex;
    justify-content: space-around;
}

.main-nav{
    display: flex;
    line-height:1.7;
    text-transform:uppercase;
    list-style: none;
    color: burlywood;
}

.main-nav li{
    margin: 0 10px 0 10px;
}

.main-nav a{
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-top: 1em;
    font-size: 5vw;
    color: aliceblue;
    border-bottom: 6px double aliceblue;

}

h2{
    text-align: left;
    color:blue;
    background-color: #f6f0cc;
    width: 30%;
}

img{
    width: 30%    
}

.img1{
    margin-top: 0px ;
    margin-left: 20px ;
}

.contents2 p{
    text-align: left;
    color: aliceblue;
    font-size: 1.1em;
}

#index {
    margin: 0;
    width: 100%;
    height: 100vh;
}

section.contents2 {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
}

.contents1 li,p{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.contents1 {
    margin-left:430px;
}

.sub-title{
    color: aliceblue;
    border-top: 6px double aliceblue;
}



.b-wrapper a{
    color: white;
    list-style: none;
    font-size: 0.7em;
}

.b-wrapper{
    text-align: center;
}